html
  head
    title Git Analytics Tool
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" integrity="sha512-p3Tp2zn+wApBreZCgRkmMwnfpN8MUPXzzOihXx7iGYXqE7t6m9drY8HeyMeeFuDWiTFKrGUrq3jpbT0vX6zY/Q==" crossorigin="anonymous")
    script(src="https://d3js.org/d3.v6.js")
    link(rel="icon", type="image/png", href="/favicon.png")
    block scripts

  body
    nav.nav-bar
      a(href="/")
        img(src="/git.svg" class="logo")
      div.nav-buttons
        a(href="/hotspots") Hotspots
        a(href="/knowledge-map") Knowledge maps
    div.container
      block content
    
